:root {
    --dark: #36454F;
    --darker: #28282B;
    --darkest: #000000;
    --light: #fff;
    --blue: blue;
    --gray: #888;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.una{
    height: 100vh;
    background-color: var(--darker);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-inline: 10px;
}

h1, h2 {
    color: var(--light);
}
#inputbox {
    width: 100%;
    max-width: 500px;
    height: 50px;
    padding-inline: 20px;
    background-color: var(--gray);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: none;
    outline: none;
}

input::placeholder{
    color: var(--light);
}
#task-submit {
    width: 100px;
    height: 50px;
    background-color: var(--darkest);
    color: var(--light);
    border: none;
    transition: .5s;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: none;
}
#task-submit:hover {
    background-color: var(--light);
    color: var(--darkest);
}


.text {
    width: 400px;
    background-color: var(--gray);
    padding-inline: 20px;
    color: var(--light);
    height: 50px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: none;
}

.edit, .delete {
    height: 50px;
    width: 60px;
    background-color: var(--darkest);
    border: none;
    color: var(--light);
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

}
.delete:hover {
    background-color: var(--light);
    color: var(--darkest);
}

.edit:hover {
    background-color: var(--light);
    color: var(--darkest);
}
.actions {
    display: flex;
    width: auto;
}

.delete{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

form {
    display: flex;

    width: 100%;
    max-width: 500px;
}

.content {
    background-color: var(--gray);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-inline: 10px;
    margin-top: 5px;
    width: 400px;
}


.actions {
    width: 200px; 
}
.con {
    display: flex;
    flex-direction: row-reverse;
}
.fluid {
    width: 100%;
    max-width: 500px;
    cursor: pointer;
    border: none;
    outline: none;
}
main {
    width: 100%;
    height: 100%;
    max-height: 500px;
    max-width: 500px;
    overflow: auto;
}
#tasks {
    display: flex;
    flex-direction: column;
    gap: 3px; 
    width: 100%;
    max-width: 500px;
    height: 100%;

}
.actions {
    display: flex;
    flex-direction: row;
}